@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font: 100% Roboto, sans-serif;
  background-color: black;
  background-size: cover;
  padding: 50px;
  margin: 0;
}

h2 {
	font-size: 3.4vh;
}
nav {
  width: 300px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
}

nav:hover {
  transition: ease-out;
}

a {
  font-size: 3.4vh;
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
}

a:hover { background: #bde0fe; }

a:active { background: #a2d2ff; }

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}
