@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font: 100% Roboto, sans-serif;
  background-color: black;
  background-size: cover;
  padding: 50px;
  margin: 0;
}

h2 {
	font-size: 3.4vh;
}
nav {
  width: 300px;
  background: white;
}

nav:hover {
  transition: ease-out;
}

a {
  font-size: 3.4vh;
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
}

a:hover { background: #bde0fe; }

a:active { background: #a2d2ff; }

.navicon {
  padding: 23px 20px;
  cursor: pointer;
}


