* {
	box-sizing:  border-box;
	margin:  0;
	padding: 0;
}
html {
	height:  100%;
	width:  100%;
}
body {
	min-height:  100%;
	width:  100%;
	overflow-x:  hidden;
	font-family: Alegreya,Noto Serif TC, serif;
	font-size: 3vh;
	line-height: 4.5vh;
}

body > img#bg {
	position: fixed;
	z-index: -999;
	width: 100%;
	opacity: 0.2;
}

header, nav, div#backToTop {
	font-family: Roboto Slab, Noto Sans TC, sans-serif;
}